<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391813617115-obbot9iq230n56ojp4mbtfu484shrlkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391813617115-obbot9iq230n56ojp4mbtfu484shrlkg</string>
	<key>API_KEY</key>
	<string>AIzaSyD-yjDIbLC0BVYVKXrMGIYFIR-g3NbB-ic</string>
	<key>GCM_SENDER_ID</key>
	<string>391813617115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quitSmartApp</string>
	<key>PROJECT_ID</key>
	<string>quit-smart-app</string>
	<key>STORAGE_BUCKET</key>
	<string>quit-smart-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391813617115:ios:edf8b4603d668e227543fe</string>
	<key>DATABASE_URL</key>
	<string>https://quit-smart-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>